# Homework 3


I worked with Srushti Karve and used the following websites: 

* https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html
* https://pandas.pydata.org/docs/user_guide/merging.html#merge
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html
* https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.linprog.html
* https://www.geeksforgeeks.org/python-program-for-stock-buy-sell-to-maximize-profit/

# Task 1

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
#a
random_numbers = np.random.rand(35)
print(random_numbers)
random_numbers_selected = np.random.choice(random_numbers, size = 15, replace= False)
print(random_numbers_selected)

[0.22292234 0.83101782 0.82571478 0.90736221 0.70653802 0.16873985
 0.08924894 0.49343893 0.14276602 0.41336995 0.28039377 0.72746037
 0.94344526 0.5157236  0.61172256 0.51472617 0.17197953 0.18463313
 0.70530033 0.92749519 0.74495986 0.13493762 0.10249153 0.51738789
 0.40222934 0.88746276 0.40312545 0.21584005 0.06733126 0.89600122
 0.87985981 0.17472258 0.88137978 0.75392656 0.58970772]
[0.88137978 0.70653802 0.89600122 0.40312545 0.08924894 0.88746276
 0.14276602 0.28039377 0.17197953 0.18463313 0.16873985 0.13493762
 0.82571478 0.06733126 0.94344526]

In [3]:
#b
car_names = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R']
MPG = np.random.randint(low = 5, high = 50, size= 10).astype(int)
random_choice = np.random.choice(car_names, size = 10, replace= False)
df1 = pd.DataFrame({"Names": random_choice, "MPG":MPG})
df1.info()

# Second data frame using the same car names: 
SecondsTo60 = np.random.randint(low =1, high= 20, size = 10)
random_choice_df2 = np.random.choice(car_names, size = 10, replace=False)
df2 = pd.DataFrame({"Names": random_choice_df2, "SecondsTo60":SecondsTo60})
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Names   10 non-null     object
 1   MPG     10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Names        10 non-null     object
 1   SecondsTo60  10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes

## c
merge_data = [df1,df2]
df = pd.merge(df1,df2, on="Names", how ='outer')
df

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Names        12 non-null     object
 1   MPG          10 non-null     float64
 2   SecondsTo60  10 non-null     float64
dtypes: float64(2), object(1)
memory usage: 420.0+ bytes

In [6]:
# Replace NaN values in the MPG column with the mean
df['MPG'].fillna(df['MPG'].mean(), inplace=True)
# Replace NaN values in the SecondsTo60 column with the maximum
df['SecondsTo60'].fillna( df['SecondsTo60'].max(), inplace=True)
df

   Names   MPG  SecondsTo60
0      O  27.0         18.0
1      J  36.0         18.0
2      R  40.0          7.0
3      D   6.0          6.0
4      M  14.0         15.0
5      G  10.0         10.0
6      C  33.0         18.0
7      F  28.0         10.0
8      P  35.0          4.0
9      I  13.0          3.0
10     N  24.2         12.0
11     E  24.2         17.0

In [7]:
df['Names'] = df['Names'].apply(lambda x: "Awesome " + x)
df

        Names   MPG  SecondsTo60
0   Awesome O  27.0         18.0
1   Awesome J  36.0         18.0
2   Awesome R  40.0          7.0
3   Awesome D   6.0          6.0
4   Awesome M  14.0         15.0
5   Awesome G  10.0         10.0
6   Awesome C  33.0         18.0
7   Awesome F  28.0         10.0
8   Awesome P  35.0          4.0
9   Awesome I  13.0          3.0
10  Awesome N  24.2         12.0
11  Awesome E  24.2         17.0

In [8]:
df_eco = df[df['MPG']> df["MPG"].median()]

In [9]:
df_eco

       Names   MPG  SecondsTo60
0  Awesome O  27.0         18.0
1  Awesome J  36.0         18.0
2  Awesome R  40.0          7.0
6  Awesome C  33.0         18.0
7  Awesome F  28.0         10.0
8  Awesome P  35.0          4.0

# Task 2

In [10]:
# uploading the dataset for the ingredients 
ingredients= pd.read_csv('ingredients.csv', sep=',')
print(ingredients)

   yeast  Flour  Sugar
0   57.5  112.5    245

In [11]:
# uploading the dataset for the pastries
pastries = pd.read_csv('pastries.csv', sep=',')
print(pastries)

              Name  Price  Yeast  Flour  Sugar
0        Apple Pie   2.99   0.00   0.75   1.50
1        Croissant   2.50   0.50   1.50   0.25
2  Poppy Seed Roll   5.99   1.15   1.50   0.75

In [19]:
# Defining the parameters of the linprog function 

# pastries dataset as an inequity constraint matrix
# transpose to get the right dimentions
A = np.array(pastries[['Yeast','Flour', 'Sugar']]).T 

# ingredients dataset implemented as an inequality constraint vector 
B = np.array(ingredients)

# defining what we are trying to minimize/ maximize
C = - np.array(pastries['Price']).reshape(-1,1)

# setting the bounds using the length of the function that is being maximized
x_bounds =  [(0, None)] * len(C)

In [20]:
from scipy.optimize import linprog
# finding the maximum price and the optimal quantities using the linprog function 
max_price = linprog(C, A_ub = A, b_ub = B, bounds = x_bounds)

# using built in function in linprog to get the optimal profit and quantities
best_profit = - max_price.fun
best_quantity = max_price.x

In [21]:
# returning the optimal quantity of each pastrie and the max profit 
print(f"The max profit is {np.round(best_profit,2)} and can be achieved by producing:")
for i, quantity in enumerate(best_quantity):
    print(f" Pastry {i+1}: {np.round(quantity,2)} pieces")

The max profit is 449.0 and can be achieved by producing:
 Pastry 1: 50.0 pieces
 Pastry 2: 0.0 pieces
 Pastry 3: 50.0 pieces